#parse("WEB-INF/templates/header.vm")
<title>Complete Missing Data</title>

<link href="blogstyle.css" rel="stylesheet" type="text/css">
</head>

<body class="blogbody">

<center>
<h1 class="blogtitle">User Login</h1>
</center>

<div class="blogitem">
<table border="0" cellpadding="8">
	<tbody>
		<tr>
		#sform ("action=alexLogin2")
           	#stextfield ("label=Mail" "name=usermail")
			#stextfield  ("label=Gènere" "name=gender")
        	#ssubmit ("value=Acceptar")
        #end
		</tr>
	</tbody>
</table>
</div>  
</body>
</html>