#if (${comandes})
	<h1>Envia la teva comanda</h1>
	#sform ("action=enviarMail")
		#ssubmit ("value=Enviar")
	#end
	<br/>
	El teu carret de comandes:
	<br>
	<div id=ofertas>
	<table id="cupons">
     	<tr class="alt">
 			<th>
 				T&iacute;tol 
 		 	</th>
 			<th>
 				Quantitat
 		 	</th>
  			<th>
 				Llibreria
 		 	</th>
 		 	<th>
 				Descompte
 		 	</th>
		</tr>
		#foreach ($comanda in ${comandes})
			<tr class="alt">
	 		 	<td>
	 		 		${comanda.llibre.title}
	 		 	</td>
	 		 	<td>
	 		 		${comanda.quantitat}
	 		 	</td>
	 		 	<td>
	 		 		${comanda.llibreria}
	 		 	</td>
	 		 	<td>
	 		 		${comanda.descompte}
	 		 	</td>
	 		 	<th>
 		 			<a href=/laLlibreria/eliComanda?idDel=${comanda.id}>Elimina</a>
 		 		</th>
		    </tr> 
		#end
	</table>
	</div>
#end