
#if (${llibreria.commentList.size()}>0)
	<h1>Comentaris:</h1>
	#foreach ($comment in ${llibreria.commentList})
		<div id="comment">
				<b>${comment.username}</b> <i>${comment.data}</i>
			<p>
				<div id="comment_text">
					${comment.text}
				</div>
			</p>
		</div>
	#end
#else
	<h4> No hi ha comentaris per aquesta llibreria. Sigues el primer en opinar. </h4>
#end