#parse("WEB-INF/templates/header.vm")

<body>
   <div id=page>
   <div id=enlaceHome>
	<a href=/laLlibreria>Inici</a>
</div>
     <div id=top>
     	<div id=errorContent>
     		<div id=erroMsg>
     			<h1>${errorMSG}</h1>
     		</div>
     	</div>
     </div>
     <div id=foot>
     	#parse( "WEB-INF/templates/pie.vm" )
     </div>
   </div>

 </body>
</html>