#parse("WEB-INF/templates/header.vm")
<script>
function agregarEliminat(idEliminat) {
	check = document.getElementById(idEliminat).getElementsByTagName("input");
	alert(check);
}
</script>


<body>
   <div id=page>
     <div id=top>
        <div id=logo>
        hola
        </div>
        <div id=buscador>
        	<h1>Panel de Gesti&oacute;</h1>
        </div>
     </div>
     <div id=leftContentHomeLlibreria>
     	<table id="cupons">
     		<tr>
     			<td>
     				Selecciona
     			</td>
     			<td>
     				Nom 
     		 	</td>
     			<td>
     				Tematica
     		 	</td>
      			<td>
     				Valor
     		 	</td>
     		</tr>
     		#foreach ($cup in $llistaCupons)
	     		<tr class="alt">
	     		 	<td>
	     		 		<a href=/laLlibreria/eliCupo?idCupo=${cup.id}>Elimina</a> 
	     		 	</td>
	     		 	<td>
	     		 		${cup.id}
	     		 	</td>
	     		 	<td>
	     		 		${cup.tematica}
	     		 	</td>
	     		 	<td>
	     		 		${cup.valor}
	     		 	</td>
	     		</tr>
	        #end
     	</table>
     </div>
     <div id=rightContentHomeLlibreria>

        
     	<div id=addCup>
     	    <h1>Nou Cupo</h1>
     		#if ($error)
				<p><font color="red">${error}</font></p>
			#end
			
     		#sform ("action=addCupo")
				#stextfield ("label=Tematica" "name=tematica")
				#stextfield ("label=Valor" "name=valor")
				#ssubmit ("value=Nou Cupo")
        	#end
     	</div>

     	
     </div>
     <div id=foot>
     	#parse( "WEB-INF/templates/pie.vm" )
     </div>
   </div>

 </body>
</html>