## Velocity Template.
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>${bookList.titol}</title>		  
	</head>
<body>
<div class="search">

	#sform ("action=searchBook")
		#stextfield ("label=Search" "name=key")
		#ssubmit ("value=Search")
    #end
    
</div>
#if ($bookList)
	<div class="content">
		
		<center><h1> Títol: ${bookList.titol} </h1>			
		<h2> Autor: ${bookList.autor} </h2>			
		<h3> Any: ${bookList.any} ISBN: ${bookList.isbn}</h3>			
		
		<h3> Puntuació ${bookList.puntuacio} </h3></center>
	</div>
#else
	<h1> No hi ha resultats </h1>
#end

#if ($commentList)
	#foreach ($comment in $commentList)
		${comment.text}
		<br><br>
	#end
#else
	<h4> No hi ha comentaris per aquest llibre. Sigues el primer en opinar. </h4>
#end

#sform ("action=addComentari")
	#stextarea ("name=text")
	#shidden ("name=isbn" "value=$bookList.isbn")
	#ssubmit ("value=Publicar")
#end

<p>
<a href=/laLlibreria>Inici</a>
</body>
</html>