#parse("WEB-INF/templates/header.vm")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js" type="text/javascript"></script> 
<script type="text/javascript" >

    function enviar(){
			var text = $("#comentariAjax").val();
            var dataString = 'text='+ text;
           	if(text=="" || text==" ") {
				$('#error').html("<div id='error'><font color='red' size='+1'><b>El comentari no pot ser buit!</b></font></div>");
			}
			else {
                $("#flash").show();
                $("#flash").fadeIn(400).html("<font color='red' size='+1'><b>Publicant comentari...</font>");
                $.ajax({
                    type: "POST",
                    url: "/laLlibreria/commentsAjax.action",
                    data: dataString,
                    cache: false,
                    success: function(html){
                        $("#comments").html(html);
                        $("#flash").hide();
                        $("#comentariAjax").val("");
						$('#error').html("<div id='error'></div>");
                    }
                });
            }
			return false;
	};

	function enviarComandaAjax() {
		var num = $("#numAjax").val();
		if (num > 0) {
			var lib = $("#llibreriaAjax").val();
            var dataString = 'num='+ num + '&idLlibreria='+lib;
            $.ajax({
                type: "POST",
                url: "/laLlibreria/comandesAjax.action",
                data: dataString,
                cache: false,
                success: function(html){
                    $("#comandes").html(html);
           		}
            });
        }
		return false;
	};
	
	function enviarPuntuacioAjax() {
		var p = $('input:radio[name=punts]:checked').val();
		
		$('#contentPuntuacio').load('http://localhost:8080/laLlibreria/puntuacionsAjax.action?punts='+p);
	};



	function enviarAjax() {
			var text = $("#comentariAjax").val();
			if(text=="" || text==" ") {
				$('#error').html("<div id='error'><font color='red' size='+1'><b>El comentari no pot ser buit!</b></font></div>");
			}
			else {
				text = text.replace(/ /g,"+");
				$('#comments').load('http://localhost:8080/laLlibreria/commentsAjax.action?text='+text);
				$("#comentariAjax").val("");
				$('#error').html("<div id='error'></div>");
			}
	};
	
	function imageLoad() {
		var imageURL = "${llibre.cover}";
		imageURL = imageURL.replace("zoom=0","zoom=5");
		imageURL = imageURL.replace("zoom=1","zoom=5");
		$('#recarregar').html('');
		$('#coverImage').html('<img src='+imageURL+'height=328 />');
		
	}
</script>
<body>
<div id=page>
<div id=enlaceHome>
	<b><a href=/laLlibreria>Inici</a></b>
</div>
<div id=buscadorLlibreContenedor>
	<div=buscadorLlibre>
		<form id="searchBookAjax" name="searchBookAjax" action="/laLlibreria/searchBookAjax.action" method="get">
			<input type="text" name="key" value="" id="key"/>
			<br/><br/>
			<center><input type="submit" id="searchBookAjax_0" value="Cercar llibre"/></center>
		</form>
	</div>
</div>
#if ($llibre)
	<div id=content>
		<div id=contentLlibre>
			<div id=contentLlibreIMG>
					#*
					<div style="float: rigth;">
							<img src="http://covers.openlibrary.org/b/isbn/${llibre.isbn}-L.jpg" height=328 />
							## <img src="${llibre.cover}" height=328 />
					</div>
					*#
					<div style="float: rigth;">
						##<img src="http://covers.openlibrary.org/b/isbn/${llibre.isbn}-L.jpg" height=328 />
						<div id="coverImage">
							<img src="${llibre.cover}" height=328 />
						</div>
					</div>					
			</div>
			<div id=contentLlibreTXT>
					<div id="recarregar">
							<button type="button" onclick="imageLoad()">Recarregar imatge</button>
					</div>
					<br />
					<div id=TXTLlibre>
						#if(${llibre.title})
							<h1> ${llibre.title} </h1>
						#end
						#if(${llibre.subtitle})
							<h2> ${llibre.subtitle} </h2>
						#end
						#if(${llibre.author})
							<h2> ${llibre.author} </h2>	
						#end
						#if(${llibre.year})
                            <font color='black'><b>Any:</b></font> ${llibre.year}<br />
						#end
						#if(${llibre.isbn})
							<font color='black'><b>ISBN:</b></font> ${llibre.isbn}<br />
						#end	
						#if(${llibre.publisher})
							<font color='black'><b>Editorial:</b></font> ${llibre.publisher}<br />
						#end	
						#if(${llibre.genre})
							<font color='black'><b>Tem&agrave;tica:</b></font> ${llibre.genre}<br />
						#end
						#if(${llibre.series})
							<font color='black'><b>Series:</b></font> ${llibre.series}<br />
						#end
						#if(${llibre.description})
							<font color='black'><b>Descripci&oacute;</b></font> <br />
							<i>"${llibre.description}"</i><br />
						#end
						#if(${llibre.language})
							<font color='black'><b>Idioma:</b></font> ${llibre.language}<br />
						#end
						#if(${llibre.preview})
							<script type="text/javascript">
							function newPopup(url) {
								popupWindow = window.open(
									url,'popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
							}
							</script>
							<a href="JavaScript:newPopup('${llibre.preview}');"><b>Visualitzar</b></a>
						#end
					</div>
					<div id=clear></div>
			</div>
			</div>
			<div id=contentPuntuacio>
				#parse( "WEB-INF/templates/puntuacioAjax.vm" )
			</div>
			#if(${llibre.similars})
				<div id=contentSimilars>
				<h2>Et recomanem els seguents llibres</h2>
				#foreach ($sim in ${llibre.similars})
					<div id="similars">
						<div id="similars_image">
						<img src="${sim.thumb}" />
						</div>
						<div id="similars_text">
						<a href=/laLlibreria/showBook.action?id=${sim.isbn}> ${sim.title}</a><br />
						${sim.author}
						</div>
					</div>
				#end
				</div>
			#end
		</div>
	</div>
	<div id=clear></div>
	<div id=leftContentLlibre>
		<br/>
		#if ($logged)
			<font size=+1><b>Afegeix el teu comentari</b></font>
			#*
			#sform ("action=addComentari")
				#stextarea ("name=text" "cols=40")
				#ssubmit ("value=Publicar")
			#end
			Afegeix el teu comentari amb Ajax <br />
			*#
			<div id="error"></div>
	        <textarea id="comentariAjax" cols="40" rows="2" onfocus="this.rows='10'" onblur="this.rows='2'"></textarea>
			<br />
			##<button type="button" onclick="enviarAjax()">Publicar amb Ajax per GET</button>
			<button type="button" onclick="enviar()">Publicar comentari</button>
			<div id="flash"></div>
		#end
		<div id="comments">
			#parse( "WEB-INF/templates/commentsAjax.vm" )
		</div>
	</div>
	<div id=rightContentLlibre>
		<div id=contentOfertas>
			<h2 style=color:black;>Ofertes</h2>
			<br />
			#foreach ($oferta in ${ofertes})
				<div id="ofertes">
				<h1>${oferta.llibreria}</h1>
					<div id="ofertes_text">			
					<h1>${oferta.descompte}</h1>
					#if (${oferta.distancia})
						<h4>Dist&agrave;ncia: ${oferta.distancia}</h4>
					#end
					</div>
				</div>
			#end
			<br />
			<div id=clear></div>
		</div>
		#if ($logged.mail)
		<div id=comanda>
			<br/>
			<h1>GESTI&Oacute; DE LA COMANDA </h1>
		    #*
		    #sform ("action=addBookComanda")
				#stextfield ("label=Quantitat: " "name=num" "value=1")
				#sselect  ("list=llibreriesNoms" "name=idLlibreria")
				#ssubmit ("value=Afegir")
		    #end
		    *#
		    Afegeix el llibre al carret de la comanda <br />
			<div id="error"></div>
			#stextfield ("label=Quantitat: " "name=numAjax" "value=1")
			<br>
			#sselect  ("list=llibreriesNoms" "name=llibreriaAjax" "label=Selecciona la llibreria: ")
			<br>
			<br>
        	<button type="button" onclick="enviarComandaAjax()">Afegir</button>
			
			<br>
			
				<div id=comandes>
					#parse( "WEB-INF/templates/comandaAjax.vm" )			
				</div>
			
		</div>
		#end
		
		
		</div>
		
	</div>
	
	#else
		<h1> No hi ha resultats </h1>
	#end
	
	#if($msg)
		<h3> $msg </h3>
	#end
	<div id=clear></div>
	<div id=foot>
	#parse("WEB-INF/templates/pie.vm")
	</div>
</div>
</body>
</html>