#parse("WEB-INF/templates/header.vm")
<body>
<a href=/laLlibreria>Inici</a>
#if ($bookList)
	<div class="content">
		<div style="float: left;">
			<img src="${llibre.thumb}" />
		</div>
		<div style="float: rigth;">
			<img src="${llibre.cover}" />
		</div>
		<center><h1> ${llibre.title} </h1>
		#if(${llibre.subtitle})
			<h2> ${llibre.subtitle} </h2>
		#end
		<h2> ${llibre.author} </h2>			
		<h3> Any: ${bookList.any} ISBN: ${llibre.isbn}</h3>	
		#if(${llibre.publisher})
			${llibre.publisher}
		#end	
		#if(${llibre.descripcio})
			${llibre.descripcio}
		#end
		#if(${llibre.genre})
			${llibre.genre}
		#end
		#if(${llibre.series})
			${llibre.series}
		#end
		#if (${bookList.puntuacio})
			<h3> Puntuacio ${bookList.puntuacio} </h3>
		#end
		
		#sform ("action=addPuntuacio")
			#shidden ("name=id" "value=$bookList.isbn")
			#sradio ("name=punts" "list={'1','2','3','4','5'}")
			#ssubmit ("value=Votar")
		#end
		
		#if (${bookList.puntuacio})
			Han votat ${bookList.numVots} persones
		#else
			Sigues el primer en votar
		#end
		</center>
	</div>
	<div id=leftContent>
		Afegeix el teu comentari
		#sform ("action=addComentari")
			#stextarea ("name=text" "cols=40")
			#ssubmit ("value=Publicar")
		#end
		
		#if ($commentList)
			Comentaris:
			<table border="1">
			#foreach ($comment in $commentList)
				<tr>
					<td>
						<b>${comment.username}</b> <i>${comment.data}</i>
						<p>
						${comment.text}
						</p>
					</td>
				</tr>
			#end
			</table>
		#else
			<h4> No hi ha comentaris per aquest llibre. Sigues el primer en opinar. </h4>
		#end
	</div>
	<div id=rightContentWhite>
		<div id=comanda>
		<br/>
			Selecciona la quantitat i afegeix la comanda al teu carret
		    #sform ("action=addBookComanda")
				#stextfield ("label=Quantitat: " "name=num" "value=1")
				#sselect  ("list=llibreriesNoms" "name=idLlibreria" "label=Selecciona la llibreria: ")
				#ssubmit ("value=Afegir")
		    #end
			Envia la teva comanda
			#sform ("action=enviarMail")
				#ssubmit ("value=Enviar")
			#end
			<br/>
		</div>
	</div>

#else
	<h1> No hi ha resultats </h1>
#end

#if($msg)
	<h3> $msg </h3>
#end


#parse("WEB-INF/templates/pie.vm")
</body>
</html>