## Velocity Template.
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Resultats Busca Llibreries</title>
	</head>
<body>
#if ($llibreria)
	<div class="content">
		<table border="1">
			Nom Llibreria: ${llibreria.name}
			<br>
			Email Llibreria: ${llibreria.mail}
			<br>
			Telefon de contacte: ${llibreria.phone}
			<br>
			On es la llibreria: ${llibreria.place}
			<br>
			CUPONS:
			<br>
			#foreach ($cupo in $llistaCupons)
				VALOR: ${cupo.valor}
				TEMATICA: ${cupo.tematica}
				<br>
			#end
		</table>
	</div>
#else
	<h1> No hi ha resultats </h1>
#end
<p>
<a href=/laLlibreria>Inici</a> 

</body>
</html>