## Velocity Template.  
<html>
    <head>
        <title>Struts 2 Login Application Example!</title>		  
	</head>
    <body>
    	<h1>Exemple de Login</h1>

		<form id="doLogin" name="doLogin" onsubmit="return true;" action="/laLlibreria/src/com/vaannila/web/doLogin.action" method="POST">
			<table>
				<tr>
					<td colspan="2">
				    	Name: "Admin" - Password: "Admin"
					</td>
				</tr>
    			#if ($error)
					<tr>
						<td colspan="2">
							<font color="red">
				    			${error}
							</font>
						</td>
					</tr>
				#end
				<tr>
					<td>
						<h2>Form fet amb html<h2>
					</td>
				</tr>
				<tr>
					<td><label for="doLogin_username" class="label">
				     	Name:</label>
				    </td>
				    <td>
				    	<input type="text" name="username" value="" id="doLogin_username"/>
				   	</td>
				</tr>
				<tr>
				    <td><label for="doLogin_password" class="label">
				    	Password:</label></td>
				    <td>
				    	<input type="password" name="password" id="doLogin_password"/>
					</td>
				</tr>
				 <tr>
				    <td colspan="2">
				    	<div align="center">
				    		<input type="submit" id="doLogin_0" value="Login"/>
						</div>
					</td>
				</tr>
			</table>
		</form>
		<h2>Form fet amb Velocity</h2>
		#sform ("action=doLogin")
            #stextfield ("label=Name"     "name=username")
			#spassword  ("label=Password" "name=password")
            #ssubmit ("value=Login")
        #end
		<p>
		Aixo es un emple de com pasar parametres al domini saltant-nos l'Hibernate per a que no calgui crear els objectes.
		Ja funciona el Velocity. Aquesta plantilla esta feta amb Velocity. Els templates ara es fan desen a /WEB-INF/templates/
		</p>
		<a href=/laLlibreria>Inici</a>
    </body>
</html>