<center>				
	#if (${llibre.puntuacio})
		<div id=textoGrande> ${llibre.puntuacio} </div>
	#end
	<br/>

	#if (${llibre.puntuacio})
		<span style=color:black;>Han votat ${llibre.numVots} persones</span>
	#else
		Sigues el primer en votar
		#if (!${logged}) (cal fer login)
		#end
	#end
	<br/>
	#if (${logged} && !${voted})
		#sradio ("name=punts" "list={'1','2','3','4','5'}")
		<br/>
		<button type="button" onclick="enviarPuntuacioAjax()">Votar</button>
	
	#end
	#if (${voted})
		<span style=color:black;>Ja has votat!</span>
		<br>
	#end
	
</center>