#parse("WEB-INF/templates/header.vm")

<body>
   <div id=page>
     <div id=top></div>
     <div id=leftContentLlibreria>
       <h1>Registra't</h1>
       #if ($error)
				<p><font color="red">${error}</font></p>
			#end

     		#sform ("action=addLlibreria")
				#stextfield ("label=Nombre"  "name=name")
				#stextfield ("label=E-mail"  "name=mail")
				#stextfield ("label=Telefono"  "name=phone")
				#stextfield ("label=Direccion"  "name=place")
				#stextfield ("label=CIF"  "name=cif")
				#ssubmit ("value=Enviar")
        	#end

   		</div>
     <div id=rightContentLlibreria>
        <h1>Entra</h1>
     	<div id=loginLlibreria>
     		#if ($error)
				<p><font color="red">${error}</font></p>
			#end
			
     		#sform ("action=doLoginLlibreria")
				
				#ssubmit ("value=Login")
        	#end
        </div>
     </div>
     <div id=foot>
     	#parse( "WEB-INF/templates/pie.vm" )
     </div>
   </div>

 </body>
</html>