#if ($numberResults)
	<font size=+1>
		<b>${numberResults}</b> resultats trobats per la paraula clau <b>"${key}"</b>, en <b>${time}</b> segons</font><br />
	</font>
#end
#if ($results)
	<font size=+1>
		Aquesta es la pagina <b>${page}</b> de <b>${totalPages}</b> pagines de resultats
	</font>
	<table>
		<tr>
			#if ($previousPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${previousPage}><-- Previous</a>
						<button type="button" onclick="$('#foo').html('<img src=http://feelsynapsis.com/mod/folder/graphics/spinner.gif /> Cercant resultats...').load('/laLlibreria/searchBookAjax2?key=${keyword}&page=${previousPage}');"><-- Previous Ajax</button>
            		</div>
				</td>
        	#end
        	#if ($nextPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${nextPage}>Next --></a>
						<button type="button" onclick="$('#foo').html('<img src=http://feelsynapsis.com/mod/folder/graphics/spinner.gif /> Cercant resultats...').load('/laLlibreria/searchBookAjax2?key=${keyword}&page=${nextPage}');">Next Ajax --></button>
            		</div>
				</td>
        	#end
		</tr>
	</table>
		#foreach ($result in $results)
			<div id="entrada">
				<div id="entrada_image">
					<img src="${result.thumb}" alt=""/>
				</div>
				<div id="entrada_text">
					<h1><a href=/laLlibreria/showBook.action?id=${result.isbn}> ${result.title}</a></h1>
					<h2>${result.author}</h2>
				</div>
				<div style="clear: both;"></div>
			</div>
		#end
	<table>
		<tr>
			#if ($previousPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${previousPage}><-- Previous</a>
						<button type="button" onclick="$('#foo').load('/laLlibreria/searchBookAjax2?key=${key}&page=${previousPage} Cercant resultats...');"><-- Previous Ajax</button>
            		</div>
				</td>
        	#end
        	#if ($nextPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${nextPage}>Next --></a>
						<button type="button" onclick="$('#foo').load('/laLlibreria/searchBookAjax2?key=${key}&page=${nextPage} Cercant resultats...');">Next Ajax --></button>
            		</div>
				</td>
        	#end
		</tr>
	</table>
#end