
#if ($results)
	<table>
		<tr>
			#if ($previousPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${previousPage}><-- Previous</a>
						<button type="button" onclick="$('#foo').html('<img src=http://feelsynapsis.com/mod/folder/graphics/spinner.gif />').load('/laLlibreria/searchBookAjax2?key=${key}&page=${previousPage}');"><-- Previous Ajax</button>
            		</div>
				</td>
        	#end
        	#if ($nextPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${nextPage}>Next --></a>
						<button type="button" onclick="$('#foo').html('<img src=http://feelsynapsis.com/mod/folder/graphics/spinner.gif />').load('/laLlibreria/searchBookAjax2?key=${key}&page=${nextPage}');">Next Ajax --></button>
            		</div>
				</td>
        	#end
		</tr>
	</table>
	<table border="1" color="red">
		#foreach ($result in $results)
		<tr>
			<td>
				<img src="${result.thumb}" alt=""/>
			</td>
			<td>
				<h1><a href=/laLlibreria/showBook.action?id=${result.isbn}> ${result.title}</a></h1>
				<h2>${result.author}</h2>
				<br>
			</td>
		</tr>
		#end
	</table>
	<table>
		<tr>
			#if ($previousPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${previousPage}><-- Previous</a>
						<button type="button" onclick="$('#foo').load('/laLlibreria/searchBookAjax2?key=${key}&page=${previousPage}');"><-- Previous Ajax</button>
            		</div>
				</td>
        	#end
        	#if ($nextPage)
				<td>
            		<div id="addPage">
            			<a href=/laLlibreria/searchBookAjax?key=${key}&page=${nextPage}>Next --></a>
						<button type="button" onclick="$('#foo').load('/laLlibreria/searchBookAjax2?key=${key}&page=${nextPage}');">Next Ajax --></button>
            		</div>
				</td>
        	#end
		</tr>
	</table>
#end