<html>
  <head>
    <style type="text/css">
      .memberPhoto {
        width: 45px;
        height: 45px;
        border: 0px;
      }
      #profile {
        font-size:13px;
        margin: 0;
        padding: 10px 15px;
      }
	  
    </style>
    
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('friendconnect', '0.8');
    </script>
  </head>
  <body>
  <div id="fb-root"></div>
	<script type="text/javascript">
		window.fbAsyncInit = function() {
			FB.init({appId: '177068509007802', status: true, cookie: true, xfbml: true});

			FB.Event.subscribe('auth.login', function(response) {
				login();
			});
			FB.Event.subscribe('auth.logout', function(response) {
				logout();
			});

			FB.getLoginStatus(function(response) {
				if (response.session) {
					greet();
				}
			});
		};
		(function() {
			var e = document.createElement('script');
			e.type = 'text/javascript';
			e.src = document.location.protocol +
				'//connect.facebook.net/en_US/all.js';
			e.async = true;
			document.getElementById('fb-root').appendChild(e);
		}());

		function login(){
			FB.api('/me', function(response) {
				alert('You have successfully logged in, with facebook, '+response.name+"!");
			   	window.location = "alexLogin.action"
			});
		}
		function logout(){
			alert('You have successfully logged out!');
		}
		function greet(){
			FB.api('/me', function(response) {
				alert('Welcome, with facebook '+response.name+" "+response.id+"!");
			});
		}

		function setStatus(){
		
			// check if user is logged in:
			FB.getLoginStatus(function(response) {
			  if (response.session) {
					new_status = document.getElementById('status').value;
					FB.api(
					  {
						method: 'status.set',
						status: new_status
					  },
					  function(response) {
						if (response == 0){
							alert('Your facebook status not updated. Give Status Update Permission.');
						}
						else{
							alert('Your facebook status updated');
						}
					  }
					);
			  } else {
					alert('please log in first :)');
			  }
			});
		
			
		}
	</script>
	<fb:login-button autologoutlink='true' perms='email,user_checkins,user_about_me'></fb:login-button>
   <script type="text/javascript">
    var SITE_ID = '06834717057300479661';
    var viewer, ownerFriends, activities;
    google.friendconnect.container.setParentUrl('/laLlibreria/web/' /* location of rpc_relay.html and canvas.html */);
    google.friendconnect.container.loadOpenSocialApi({ 
            site: SITE_ID,
            onload: function() { initAllData(); }});

    function initAllData() {
      var params = {};
      params[opensocial.DataRequest.PeopleRequestFields.PROFILE_DETAILS] =
        [opensocial.Person.Field.ID,opensocial.Person.Field.NAME,opensocial.Person.Field.THUMBNAIL_URL,opensocial.Person.Field.PROFILE_URL];
      var req = opensocial.newDataRequest();
      req.add(req.newFetchPersonRequest('VIEWER', params), 'viewer');
      req.add(req.newFetchPeopleRequest(
        new opensocial.IdSpec({'userId' : 'OWNER', 'groupId' : 'FRIENDS'}), params), 
        'ownerFriends');
      req.add(req.newFetchActivitiesRequest(new opensocial.IdSpec({'userId' : 'OWNER', 'groupId' : 'FRIENDS'})), 'activities');
      req.send(setupData);
    };

    function setupData(data) {
	  
      viewer = data.get('viewer').getData();
      if (viewer) {
      	alert('Welcome, with google ' + viewer.getField("displayName")+ " " + viewer.getId("")+"!");
      	window.location = "alexLogin.action"
      	
      }
	  
      viewer = data.get('viewer').getData();
      if (viewer) {
        document.getElementById('profile').innerHTML =  
        '<img align="left" src="' + viewer.getField("thumbnailUrl")  + '">' +
        '<b>' + " WELLCOME " +  viewer.getField("displayName")+ " form Google" + '!</b><br>' +
        '<a href="#" onclick="google.friendconnect.requestSignOut(); return false;">Sign out</a><br>';
      } else {
        google.friendconnect.renderSignInButton({ 'id': 'profile', 'style': 'long' });
      }
    };
    </script>
	<div id="profile"></div>  
	
  </body>
</html>
