
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
	<title>La llibreria 2.0</title>
	<link rel="stylesheet" type="text/css" media="screen" href="css/principal.css" />
</head>

<title>Complete Missing Data</title>

<body class="blogbody">
<div id=mini></div>
   <div id=page></div>
<center>
<br>
<br>
<h1 class="blogtitle">User Login</h1>
</center>

<table border="0" cellpadding="8">
	<tbody>
		<tr>
		<b>Si introdueixes un email fals, no rebras cap dels avantatges del nostre lloc web</b>
		<br>
		<b>Si t'equivoques, contacta amb nosaltres per posar-hi solucio</b>
		<br>
		#if (${errorFormulari})
			<font color="red"><b>${errorFormulari}</b></font>
		#end	
		#sform ("action=alexLogin2")
           	#stextfield ("label=Email" "name=usermail")
        	#ssubmit ("value=Acceptar")
        #end
		</tr>
	</tbody>
</table>
#if (${errorFormulari})
<br>
#else
<br><br>
#end
<br><br><br><br>
<div id=foot>
     	#parse( "WEB-INF/templates/pie.vm" )
     </div>
 </body>
</html>