#if (${comandes})
	El teu carret de comandes:
	<br>
	<table border="1">
		<tr>
			<td>
				<b>T&iacute;tol</b> 
			</td>
			<td>
				<b>Quantitat</b> 
			</td>
			<td>
				<b>Llibreria</b> 
			</td>
			<td>
				<b>Descompte</b> 
			</td>
		</tr>
		#foreach ($comanda in ${comandes})
			<tr>
				<td>
					<b>${comanda.llibre.title}</b> 
				</td>
				<td>
					<b>${comanda.quantitat}</b> 
				</td>
				<td>
					<b>${comanda.llibreria}</b> 
				</td>
				<td>
					<b>${comanda.descompte}</b> 
				</td>
			</tr>
		#end
		
	</table>
#end