#parse("WEB-INF/templates/header.vm")

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">

//INICIO: Geolocalizacion Google
//determine support for geolocation
if (navigator.geolocation){
//locate position
navigator.geolocation.getCurrentPosition(displayPosition, errorFunction);
 }
else{
alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
}

var map;
//success callback function
function displayPosition(pos){
	var mylat = pos.coords.latitude;
	var mylong = pos.coords.longitude;
	var thediv = document.getElementById("map_canvas");
	thediv.innerHTML = "<p>Your longitude is :"+mylong+" and your latitude is "+mylat+"</p>";
	//Load Google Map
	var latlng = new google.maps.LatLng(mylat, mylong);
	    var myOptions = {
	      zoom: 15,
	      center: latlng,
	      mapTypeId: google.maps.MapTypeId.HYBRID
	    };
	
	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	//Add marker
	var marker = new google.maps.Marker({
		     position: latlng, 
		     map: map, 
		     title:"You are here"
		 });    
	    
 }

//error callback function
function errorFunction(pos){
	alert('Error!');
}

//FIN: Geolocalizacion Google

//INICIO:Localizar "manualmente"

var geocoder;
function localizar(){
    geocoder = new google.maps.Geocoder();

	var address = document.getElementById("localizacion").value;
    if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          alert(results[0].geometry.location);
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map, 
              position: results[0].geometry.location
          });
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }

}
//FIN:Localizar "manualmente"
//INICIO: Situar librerias
function addLibreriaMapa(){
	alert("hola");
}


//FIN
function addLibreriaMapa() {



}
</script>
</head>




<body>
   <div id=page>
     <div id=top>
     	<div id=login>
			Usuario: "Admin" - Password: "Admin"
			#if ($error)
				<p><font color="red">${error}</font></p>
			#end
			
     		#sform ("action=doLogin")
				#stextfield ("label=Usuario"  "name=username")
				#spassword  ("label=Password" "name=password")
				#ssubmit ("value=Login")
        	#end
        	<a href=/laLlibreria/showRegistreLlibreria.action>Ets una llibreria?</a> 
     	</div>
     	<div id=buscador>
     		<h1>Llibre</h1> 
			#sform ("action=searchBook")
				#stextfield ("name=key") 
				#ssubmit ("value=Search")
        	#end

            #if ($msg)
            	<p><font color="red">${msg}</font></p>
            #end
     	</div>
     	<div id=seccionOfertas>
     		Mejores ofertas:
	     	<div id=ofertas>
	     		<div id=oferta1>Libro: El quijote | Libreria: La mas barata | Precio 20.55&euro;</div>
	     		<div id=oferta1>Libro: El quijote | Libreria: La mas barata | Precio 20.55&euro;</div>
	     		<div id=oferta1>Libro: El quijote | Libreria: La mas barata | Precio 20.55&euro;</div>
	     	</div>
	    </div>
     </div>
     <div id=leftContent></div>
     <div id=rightContent>
     	<div id=map_canvas></div>
     	<div id=ubicacion>

     	    #foreach ($llib in $llibreriaList)
     			<script>
					
     			</script>	
     		#end
     		<div id=inputCalle>
     			<span id=textoBlanco>&iquestEstas bien localizado?</span><br/><br/>
     			<span id=textBox><input id="localizacion" type="text" value="Calle, Ciudad" style="color:grey; width:350px" onfocus="if(this.value==this.defaultValue) this.value=''">
     			<input name="localiza" type="button" value="Localizar" onclick="localizar()"></span>
     		</div>
     		<div id=librosBuscados>
     		   <table border="1">
			   <span id=textoBlanco>Llibres mes populars</span>
			   #foreach ($popular in $populars)
					<tr>
						<td>
							<a href=/laLlibreria/showBook.action?id=${popular.ISBN}> ${popular.ISBN}</a>
						</td>
					</tr>
			   #end
			   </table>
     		</div>
     		
     	</div>
     </div>
     <div id=foot>
     	#parse( "WEB-INF/templates/pie.vm" )
     </div>
   </div>

 </body>
</html>