#parse("WEB-INF/templates/header.vm")
<body>
<a href=/laLlibreria>Inici</a>
#if ($llibre)
	<div class="content">
		<table>
			<tr>
				<td>	
					<div style="float: rigth;">
						<img src="${llibre.cover}" height=330 />
					</div>
				</td>
				<td>
					#if(${llibre.title})
						<h1> ${llibre.title} </h1>
					#end
					#if(${llibre.subtitle})
						<h2> ${llibre.subtitle} </h2>
					#end
					#if(${llibre.author})
						<h2> ${llibre.author} </h2>	
					#end
					#if(${llibre.year})
						<h3> Any: ${llibre.year}</h3>
					#end
					#if(${llibre.isbn})
						<h3> ISBN: ${llibre.isbn}</h3>	
					#end	
					#if(${llibre.publisher})
						Editorial: ${llibre.publisher}<br />
					#end	
					#if(${llibre.genre})
						Tematica: ${llibre.genre}<br />
					#end
					#if(${llibre.series})
						Series: ${llibre.series}<br />
					#end
					#if(${llibre.description})
						<b>Descripcio</b> <br />
						<i>"${llibre.description}"</i><br />
					#end
					#if(${llibre.language})
						Idioma: ${llibre.language}<br />
					#end
					#if(${llibre.preview})
						<script type="text/javascript">
						function newPopup(url) {
							popupWindow = window.open(
								url,'popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
						}
						</script>
						<a href="JavaScript:newPopup('${llibre.preview}');">Preview</a>
					#end
				</td>
			</tr>
			#if(${llibre.similars})
			<tr>
				<td>
					<h2>Et recomanem els seguents llibres</h2>
					<table>
						<tr>
							#foreach ($sim in ${llibre.similars})
									<td>
										<img src="${sim.thumb}" />
									</td>
									<td>
										<a href=/laLlibreria/showBook.action?id=${sim.isbn}> ${sim.title}</a><br />
										${sim.author}
									</td>
							#end
						<tr>
					</table>
				</td>
			</tr>
			#end
		</table>	
		<center>
		#if (${llibre.puntuacio})
			<h3> Puntuacio ${llibre.puntuacio} </h3>
		#end
		
		#sform ("action=addPuntuacio")
			#sradio ("name=punts" "list={'1','2','3','4','5'}")
			#ssubmit ("value=Votar")
		#end
		
		#if (${llibre.puntuacio})
			Han votat ${llibre.numVots} persones
		#else
			Sigues el primer en votar
		#end
		</center>
	</div>
	<div id=leftContent>
		Afegeix el teu comentari
		#sform ("action=addComentari")
			#stextarea ("name=text" "cols=40")
			#ssubmit ("value=Publicar")
		#end
		
		#if (${llibre.commentList})
			Comentaris:
			<table border="1">
			#foreach ($comment in ${llibre.commentList})
				<tr>
					<td>
						<b>${comment.username}</b> <i>${comment.data}</i>
						<p>
						${comment.text}
						</p>
					</td>
				</tr>
			#end
			</table>
		#else
			<h4> No hi ha comentaris per aquest llibre. Sigues el primer en opinar. </h4>
		#end
	</div>
	<div id=rightContentWhite>
		<div id=comanda>
		<br/>
			Selecciona la quantitat i afegeix la comanda al teu carret
		    #sform ("action=addBookComanda")
				#stextfield ("label=Quantitat: " "name=num" "value=1")
				#sselect  ("list=llibreriesNoms"  "name=idLlibreria" "headerValue=Selecciona la llibreria" "required=true")
				#ssubmit ("value=Afegir")
		    #end
			Envia la teva comanda
			#sform ("action=enviarMail")
				#ssubmit ("value=Enviar")
			#end
			<br/>
		</div>
	</div>

#else
	<h1> No hi ha resultats </h1>
#end

#if($msg)
	<h3> $msg </h3>
#end


#parse("WEB-INF/templates/pie.vm")
</body>
</html>