## Velocity Template.
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>${bookList.titol}</title>		  
	</head>
<body>
<div class="search">

	#sform ("action=searchBook")
		#stextfield ("label=Search" "name=key")
		#ssubmit ("value=Search")
    #end
    
</div>
#if ($bookList)
	<div class="content">
		
		<center><h1> Titol: ${bookList.titol} </h1>			
		<h2> Autor: ${bookList.autor} </h2>			
		<h3> Any: ${bookList.any} ISBN: ${bookList.isbn}</h3>			
		#if (${bookList.puntuacio})
			<h3> Puntuacio ${bookList.puntuacio} </h3>
		#end
		#sform ("action=addPuntuacio")
			#shidden ("name=id" "value=$bookList.isbn")
			#sradio ("name=punts" "list={'1','2','3','4','5'}")

			#ssubmit ("value=Votar")
		#end
		#if (${bookList.puntuacio})
			Han votat ${bookList.numVots} persones
		#else
			Sigues el primer en votar
		#end
		</center>
		
		#sform ("action=addBookComanda")
		#stextfield ("label=Quantitat: " "name=num" "value=0")
		#shidden ("name=idLlibre" "value=$bookList.isbn")
		#ssubmit ("value=Afegir")
    #end
	</div>
#else
	<h1> No hi ha resultats </h1>
#end



Afegeix el teu comentari
#sform ("action=addComentari")
	#stextarea ("name=text" "cols=40")
	#shidden ("name=isbn" "value=$bookList.isbn")
	#ssubmit ("value=Publicar")
#end

#if ($commentList)
	Comentaris:
	<table border="1">
	#foreach ($comment in $commentList)
		<tr>
			<td>
				<b>${comment.username}</b> <i>${comment.data}</i>
				<p>
				${comment.text}
				</p>
			</td>
		</tr>
	#end
	</table>
#else
	<h4> No hi ha comentaris per aquest llibre. Sigues el primer en opinar. </h4>
#end

<p>
<a href=/laLlibreria>Inici</a>
</body>
</html>