<div id=contenidoPie>
	#if (${msg})
		<p> $msg </p>
		
		<br>
		<br>
	#end
	
	
	<p align='center'>Creadors de LA LLIBRERIA.CAT : Alex Alberti, David Casta&nacute;o, Joaquin Omella i Marc Rodon</p>
</div>