<script type="text/javascript" >
	function enviarPuntuacioAjax() {
		var p = $('input:radio[name=punts]:checked').val();
		$('#contentPuntuacio').load('http://localhost:8080/laLlibreria/puntuacionsAjaxLlibreria.action?punts='+p);
	};
</script>
<center>				
	#if (${puntuacio})
		<div id=textoGrande>${puntuacio.puntuacio} </div>
		<br/>
	#end
	<div style=color:black;>
	#if (${logged} && !${voted})
		#sradio ("name=punts" "list={'1','2','3','4','5'}")
		<br/>
		<button type="button" onclick="enviarPuntuacioAjax()">Votar</button>
	
	#end
	#if (${voted})
		Ja has votat!
		<br>
	#end
	</div>
	<br/>
	#if (${puntuacio})
		<span style=color:black;>Han votat ${puntuacio.numVots} persones</span>
	#else
		Sigues el primer en votar
		#if (!${logged}) (cal fer login)
		#end
	#end
</center>