<center>				
	#if (${llibre.puntuacio})
		<h1> Puntuacio ${llibre.puntuacio} </h1>
	#end
	<br/>

	#if (${llibre.puntuacio})
		Han votat ${llibre.numVots} persones
	#else
		Sigues el primer en votar
		#if (!${logged}) (cal fer login)
		#end
	#end
	<br/>
	#if (${logged} && !${voted})
		#sradio ("name=punts" "list={'1','2','3','4','5'}")
		<br/>
		<button type="button" onclick="enviarPuntuacioAjax()">Votar</button>
	
	#end
	#if (${voted})
		Ja has votat!
		<br>
	#end
	
</center>