#if ($numberResults)
	<font size=+1 color="white">
		<b>${numberResults}</b> resultats trobats per la paraula clau <b>"${key}"</b>, en <b>${time}</b> segons</font><br />
	</font>
#end
#if ($results)
	#if ($totalPages)
	<font size=+1 color="white">
		Aquesta es la pagina <b>${page}</b> de <b>${totalPages}</b> pagines de resultats
	</font>
	<br />
	#end
	<table>
		<tr>
			#if ($previousPage)
				<td>
            		<div id="addPage">
            			##<a href=/laLlibreria/searchBookAjax?key=${key}&page=${previousPage}><-- Previous</a>
						<button type="button" onclick="$('#foo').html('<font color=black size=+1>Cercant resultats...</font>').load('/laLlibreria/searchBookAjax2?key=${keyword}&page=${previousPage}');"><-- Pagina anterior</button>
            		</div>
				</td>
        	#end
        	#if ($nextPage)
				<td>
            		<div id="addPage">
            			##<a href=/laLlibreria/searchBookAjax?key=${key}&page=${nextPage}>Next --></a>
						<button type="button" onclick="$('#foo').html('<font color=black size=+1>Cercant resultats...</font>').load('/laLlibreria/searchBookAjax2?key=${keyword}&page=${nextPage}');">Pagina seguent --></button>
            		</div>
				</td>
        	#end
		</tr>
	</table>
		#foreach ($result in $results)
			<div id="entrada">
				<div id="entrada_image">
					<img src="${result.thumb}" alt="" height="78px" width="78px" />
				</div>
				<div id="entrada_text">
					<h1><a href=/laLlibreria/showBook.action?id=${result.isbn}> ${result.title}</a></h1>
					<h2>${result.author}</h2>
				</div>
				<div style="clear: both;"></div>
			</div>
		#end
	<table>
		<tr>
			#if ($previousPage)
				<td>
            		<div id="addPage">
            			##<a href=/laLlibreria/searchBookAjax?key=${key}&page=${previousPage}><-- Previous</a>
						<button type="button" onclick="$('#foo').html('<font color=black size=+1>Cercant resultats...</font>').load('/laLlibreria/searchBookAjax2?key=${keyword}&page=${previousPage}');"><-- Pagina anterior</button>
            		</div>
				</td>
        	#end
        	#if ($nextPage)
				<td>
            		<div id="addPage">
            			##<a href=/laLlibreria/searchBookAjax?key=${key}&page=${nextPage}>Next --></a>
						<button type="button" onclick="$('#foo').html('<font color=black size=+1>Cercant resultats...</font>').load('/laLlibreria/searchBookAjax2?key=${keyword}&page=${nextPage}');">Pagina seguent --></button>
            		</div>
				</td>
        	#end
		</tr>
	</table>
#end